// VARIABLES HEADER
$back_header: #54595e;
$color: #cb2918;
// END VARIABLES HEADER
// VARIABLES CARD-FILMS AND CARD-SERIES
$rotate: rotateY(180deg);
$color-star: gold;
$width: 30px;
// END VARIABLES CARD-FILMS AND CARD-SERIES